body {
  font-family: Arial, Helvetica, sans-serif;
}
.floatleft
{
padding: 70px 0;
float: left;
width: 200px;
}

#container
{
width: 90%;
margin: 20px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
}

#leftnav
{
float: left;
width: 300px;
margin: 0;
padding: 1em;
line-height: 2.5;
}

#table {
  background-color: #F2F2F2;
  border: 3px solid black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1{color: #0E7886;
  text-align: center;

}

h3{color: #0E7886;
}
#content
{
margin-left: 250px;
margin-top:0px;
border-left: 1px solid white;
padding: 1em;
text-align: center;
}

td{
	width:300px;
	padding:10px;
}

#footer
{

clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}

img{
	border-radius: 5px 5px 5px 5px;
}

#destinations a {
	display: block;
	border-radius: 10px 10px 10px 10px;
	color: black;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
}
#destinations a:hover {
	background-color: #dff2f5;
	border-radius: 10px 10px 10px 10px;
}

















